* {
    font-family: Arial, Helvetica, sans-serif;
}
*[hidden] {
    display: none !important;
}
ul {
    padding-left: 15;
}
#container {
    max-width: 400px;
    text-align: left;
}
#loading {
    font-style: italic;
    background-color: #e1eb58;
    display: inline-block;
    padding: 10px;
    color: rgb(133, 133, 133);
}
#connect-to-backend-btn {
    background-color: #c95b5b;
    color: white;
    font-size: 32px;
    border: none;
    padding: 10px;
    border-bottom: #8f4949 solid 8px;
    cursor: pointer;
}
#connect-to-backend-btn:hover {
    opacity: 0.8;
}
#connect-to-backend-btn:active {
    margin-top: 5px;
    border-bottom: #8f4949 solid 3px;
}
#status.error {
    color: #c95b5b;
}
#status.success {
    color: #7cc55a;
}
#status.waiting {
    color: #bebebe;
}
